<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark navSize">
            <a class="navbar-brand">
                <img src="/static/assets/VPQ_Logo.png" width="45" height="45" alt="logo" style="padding-left: 0.2vw">
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Create</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Host</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Join</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="row">
        <nav class="navbar nav-tabs navbar-expand-lg" role="tablist">
            <ul class="navbar-nav" id="createQuizTabList">
                <li class="nav-item">
                    <a class="nav-link" onclick="addTab()" role="tab">Add Round</a>
                </li>
            </ul>
        </nav>
        <div class="tab-content" id="round-content">
<!--            <div class="tab-pane active" id="round-1-content">-->
<!--                <button onclick="addQuestion(1)">Add Question</button>-->
<!--            </div>-->
        </div>
    </div>
</div>
