<h1 style="color: white">Friends Page</h1>

<div id="addFriendsContainer">
    <!-- Way to add new friends -->
    <p style="color: white">Enter the username of the friend that you would like to add:</p>
    <input type="text" class="form-control mb-3" placeholder="Enter username" v-model="add_friend_input">
    <button @click="addFriend(add_friend_input)" class="btn btn-primary btn-block">Add Friend</button>
</div>

<div id="friendsListContainer">
    <!-- Message displayed if the user has no friends  -->
    <div v-if="user.friends.length == 0" class="no-friends-message">
        <p style="color: white">You do not currently have any friends right now. Why don't you try adding some?</p>
    </div>

    <!-- Shows a list of friends   -->
    <div v-if="user.friends.length > 0" class="friends-list">
        <div v-for="friend of user.friends" class="friend">
            <strong style="color: white">{{friend}}</strong>
            <button @click="deleteFriend(friend)" class="btn btn-danger btn-sm">X</button>
        </div>
    </div>
</div>
