<div id="home-wrapper">
    <div v-if="connected" class="container-login text-center">
        <div>
            <img src="/static/assets/VPQ_Logo.png" width="200" height="200" alt="Virtual Pub Quiz Logo" class="logo-login">
        </div>
        <h1 class="login">Welcome to Virtual Pub Quiz</h1>
        <p class="login">Choose an option:</p>
        <div class="btn-container-login">
            <button @click="setPage('create')" class="btn btn-primary btn-login">Create Quiz</button>
            <button @click="setPage('host')" class="btn btn-secondary btn-login">Host Quiz</button>
            <button @click="setPage('join')" class="btn btn-success btn-login">Join Quiz</button>
            <button @click="setPage('profile')" class="btn btn-info btn-login">Manage Account</button>
            <button @click="setPage('login')" class="btn btn-warning btn-login">Login</button>
        </div>
        <button class="btn btn-danger logout-btn-login">Logout</button>
    </div>
    <div v-else>
        <p>Connecting...</p>
    </div>
</div>
