<body class="login">
  <div class="container-login text-center">
    <div>
      <img src="/static/assets/VPQ_Logo.png" width="200" height="200" alt="Virtual Pub Quiz Logo" class="logo-login">
    </div>
    <h1 class="login">Welcome to Virtual Pub Quiz</h1>
    <p class="login">Choose an option:</p>
    <div class="btn-container-login">
      <a href="create-quiz.html" class="btn btn-primary btn-login">Create Quiz</a>
      <a href="host-quiz.html" class="btn btn-secondary btn-login">Host Quiz</a>
      <a href="join-quiz.html" class="btn btn-success btn-login">Join Quiz</a>
      <a href="manage-account.html" class="btn btn-info btn-login">Manage Account</a>
      <a href="friends.html" class="btn btn-warning btn-login">Friends</a>
    </div>
    <!-- Logout Button -->
    <a href="logout.html" class="btn btn-danger logout-btn-login">Logout</a>
  </div>
</body>
