<div>
    <div style="height: 70vh; width: 50vw; margin: auto">
        <h1>Host a game!</h1>

        <div style="display: flex" class="general-content container-fluid">
            <form style="align-items: center">
                <label>Question Set ID:
                    <select v-model="room_questionSetID" style="width: fit-content">
                        <option v-for="id in questionSetIDs" :value="id['id']">{{id["id"]}}</option>
                    </select>
                </label>
                <!--                <div class="general-input-container"><label>Question Set ID:<input class="inputFieldRound" type="text" v-model="room_questionSetID"/></label></div>-->
                <div class="general-input-container"><label>Add Password:<input class="inputFieldRound" type="text" v-model="room_password"/></label></div>
                <div class="general-input-container"><label>18+<input type="checkbox" value="18+ ?" v-model="room_adultOnly"/></label></div>
            </form>

            <div class="buttonRow">
                <button class="addQuestionButton" @click="createRoom(room_questionSetID, room_adultOnly, room_password)">Create Room</button>
            </div>
        </div>

    </div>
</div>
