<div class="container-fluid">
    <input type="text" placeholder="Username" v-model="username"/>
    <input type="password" placeholder="Password" v-model="password"/>
    <button @click="login(username, password)">Login</button>
</div>
