<div class="container-fluid">
    <h2>Active rooms:</h2>
    <div v-for="room in rooms">
        <button @click="joinRoom(room)">{{ room.id }}</button>
    </div>
    <button @click="createRoom()">Create room</button>
</div>
