/* 
A naming convention for css styles was not decided, using kebab case.
*/

/*!* Highlight the rows and columns in the Bootstrap grid *!*/
.row {
    border: 2px solid #3498db; /* Add a border to highlight rows */
}

[class^="col-"] {
    border: 2px solid #2ecc71; /* Add a border to highlight columns */
}

h2 { /* Used for main titles */
    text-align: center;
    font-size: 26pt;
}

.login-container {
    min-width: 250px;
    width: 25%;
    height: fit-content;

    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 12px 32px lightgray;
    
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
    padding: 8px;
}

/*
The height of the container is 100vh - .navSize height
 */
.createContainer {
    background-color: #c3d2d9;
    width: 100vw;
    height: 94vh;
}

.navSize {
    height: 6vh;
    width: 100vw;
}

.questionTemplate {
    background-color: #9badb7;
}

.checkbox-row {
    display: flex;
    align-items: center;
    padding-right: 3vh;
}

.scroller-content {
    max-height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#questionSearch {
    display: none;
}

.questionSearchOption {
    border: black solid 2px;
    padding: 0.5vh;
    margin-bottom: 1vh;
}