<div>
    <h1 style="color: white">Lobby</h1>
    <h2 style="color: white"><u>Players</u></h2>
    <div v-for="player in room.players">
        <h2 style="color: white">{{ player }}</h2>
    </div>
</div>
